*.iml
*~
.*.sw[op]
.DS_Store
.git/
.metadata
.yardoc
.yardwarns
/.bundle/
/.idea/
/.vagrant/
/Gemfile.local
/Gemfile.lock
/bin/
/convert_report.txt
/coverage/
/doc/
/junit/
/log/
/pkg/
/spec/fixtures/manifests/
/spec/fixtures/modules/
/tmp/
/update_report.txt
/vendor/
